
<p-panel header="Books">
    <p-table [value]="booksRowData"
            stripedRows
            [scrollable]="true"
            [paginator]="true"
            [rows]="10"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="[5, 10, 15]"
            dataKey="id">
        <ng-template #header>
            <tr>
                <th pSortableColumn="title">
                    Title <p-sortIcon field="title" />
                </th>
                <th pSortableColumn="author">
                    Author <p-sortIcon field="author" />
                </th>
                <th pSortableColumn="genre">
                    Genre <p-sortIcon field="genre" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-book>
            <tr>
                <td>
                    <a href='/book/data/{{book.id}}'>{{book.title}}</a>
                </td>
                <td>
                    {{book.author}}
                </td>
                <td>
                    {{book.genre}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
