<div class="card">
    <h2>{{ bookId == 0 ? 'Create New Book' : 'Edit Book' }}</h2>

    <p-panel header="Details">
        <div class="">
            <div [formGroup]="bookFormGroup">
                <div>
                    <div>
                        <div class="label">
                            <label for="title">Title</label>
                        </div>
                        <div class="input-text">
                            <input type="title" pInputText formControlName="title" />
                        </div>
                    </div>
              
                    <div>
                        <div class="label">
                            <label for="author">Author</label>
                        </div>
                        <div class="input-text">
                            <input type="author" pInputText formControlName="author" />
                        </div>
                    </div>
              
                    <div>
                        <div class="label">
                            <label for="genre">Genre</label>
                        </div>
                        <div class="input-text">
                            <input type="genre" pInputText formControlName="genre" />
                        </div>
                    </div>

                    <div class="card flex justify-center button-row">
                        <p-button class="form-button" label="Save" (onClick)="save()" [disabled]="bookFormGroup.invalid"></p-button>
                        <p-button class="form-button" *ngIf="bookId != 0" label="Delete" severity="danger" (onClick)="delete()" ></p-button>
                    </div>
                  </div>
            </div>
        </div>
    </p-panel>
</div>